@charset "UTF-8";
body, header, footer, ul, li, p {
  margin: 0;
  padding: 0;
  line-height: 1;
  font-family: -apple-system, BlinkMacSystemFont, "Helvetica Neue", YuGothic, "ヒラギノ角ゴ ProN W3", Hiragino Kaku Gothic ProN, Arial, "メイリオ", Meiryo, sans-serif;
}

h1, h2, h3, h4 {
  margin: 0;
  padding: 0;
  font-weight: 400;
}

html {
  width: 100%;
  height: 100%;
  font-size: 62.5%;
}

body {
  display: grid;
  grid-auto-flow: column;
  grid-template-columns: 40% 60%;
  width: 100%;
  height: 100%;
  font-size: 1.6rem;
  color: #333;
}
@media screen and (max-width: 479px) {
  body {
    background: #FFF;
  }
}
@media screen and (min-width: 480px) and (max-width: 1279px) {
  body {
    background: #FFF;
  }
}
@media screen and (min-width: 1280px) {
  body {
    background: #FFF;
    background-image: url(./assets/images/icon_tile_br.png);
  }
}

a {
  text-decoration: none;
  color: inherit;
}

header.site-header {
  position: relative;
  grid-column: 1;
  height: 100%;
}
header.site-header h1 {
  display: none;
}
header.site-header img {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: none;
  width: 60%;
  margin: auto;
}

nav.global-nav {
  position: absolute;
  top: 2rem;
  left: 0;
  right: 0;
  margin: 0 auto;
  z-index: 1;
}
nav.global-nav ul {
  display: grid;
  grid-auto-flow: column;
  column-gap: 3rem;
  justify-content: center;
}
nav.global-nav ul li {
  padding: 0.5rem 0;
  list-style: none;
  font-size: 1.7rem;
}
nav.global-nav ul li a {
  display: block;
  padding: 0 0.2rem;
}
nav.global-nav ul li a:hover {
  background: #333;
  color: #FFF;
}

main {
  height: 100%;
}
main div {
  position: relative;
  width: 100%;
  height: 100%;
  overflow: hidden;
}
main div section {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  box-sizing: border-box;
  padding: 25rem 10vw 0;
  font-size: 1.7rem;
  transition: transform 1s ease;
}
main div section.open {
  transform: translateX(0%);
}
main div section.close {
  transform: translateX(100%);
}
main div section h1 {
  padding-bottom: 5rem;
  font-size: 4rem;
  line-height: 1.4;
}
main div section p {
  margin: 2rem 0;
  line-height: 1.4;
  font-size: 1.7rem;
}

section.top {
  background: rgba(255, 255, 255, 0.98);
}
section.top h1 {
  font-family: serif;
  font-size: 5rem;
  line-height: 1.8;
  letter-spacing: 1.8rem;
}
section.top nav ul li {
  padding: 1.2rem 0;
  list-style: none;
  font-size: 2rem;
}
section.top nav ul li a {
  display: block;
}

section:not(.top) {
  background: rgba(255, 255, 255, 0.98);
}
section:not(.top) h1 {
  text-transform: uppercase;
}

section.works ul li {
  margin-bottom: 3rem;
  list-style: none;
  font-size: 2rem;
}
section.works ul li h1 {
  position: relative;
  display: inline-block;
  padding: 0;
  width: 25rem;
  font-size: 2rem;
}
section.works ul li h1::after {
  position: absolute;
  right: 4rem;
  content: "/";
}

section.company table {
  width: 100%;
  border-collapse: collapse;
}
section.company table tr th {
  padding: 1rem 0;
  text-align: left;
  vertical-align: top;
  font-weight: normal;
}
section.company table tr th::after {
  content: "：";
}
section.company table tr td {
  padding: 1rem 1rem;
}
section.company table tr td ul {
  list-style: square;
  padding-left: 2rem;
}
section.company table tr td ul li {
  margin-bottom: 1rem;
}

footer.site-footer {
  position: absolute;
  right: 2rem;
  bottom: 2rem;
  width: 20rem;
  text-align: right;
}
footer.site-footer .copyright {
  font-size: 1.4rem;
}
